@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
}

.picSize {
    height: 680px;
    /* your fixed height */
    width: 100%;
    /* fills container width */
    object-fit: cover;
    /* crops to fit without stretching */
}

.myfontSize {
    font-size: 48px;
}

.myfontSize2 {
    font-size: 16px;
}

.myfontSize3 {
    font-size: 20px;
}

.myfontSize4 {
    font-size: 24px;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.responsive-text {
    font-size: 24px;
}

.carousel-item img {
    width: 100%;
    height: 586px;
    object-fit: cover;
    object-position: center;
}

/* For small screens (≥576px) */
@media (min-width: 576px) {
    .responsive-text {
        font-size: 30px;
    }
}

/* For large screens (≥992px) */
@media (min-width: 992px) {
    .responsive-text {
        font-size: 48px;
    }

    /* .carousel-item img {} */
}

/* For extra-large screens (≥1200px) */
@media (min-width: 1200px) {
    .responsive-text {
        font-size: 48px;
    }

}